In [ ]:
#Q1.
"""A database is an organized collection of data that is stored and accessed electronically. 
Databases are used to store data for various applications, such as web applications, enterprise applications,
scientific research, and more.
SQL and NoSQL are two types of database management systems that differ in their approach to data storage and retrieval:

SQL (Structured Query Language) databases are relational databases that store data in tables with pre-defined columns
and data types. SQL databases are based on the relational model, which means that data is organized in tables with
relationships between tables. SQL databases are typically used for applications that require complex queries and
transactions, such as banking applications, e-commerce sites, and enterprise resource planning systems.
Examples of SQL databases include MySQL, Oracle, PostgreSQL, and Microsoft SQL Server.

NoSQL (Not Only SQL) databases are non-relational databases that store data in a flexible, non-tabular format.
NoSQL databases are designed to handle unstructured, semi-structured, and structured data, and are often used for
big data and real-time web applications. NoSQL databases can be further categorized into several types,
such as document stores, key-value stores, column-family stores, and graph databases.
Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Neo4j."""

In [ ]:
#Q2.
"""DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define 
and manage the structure of a database. DDL statements are used to create, modify, and delete database objects
such as tables, indexes, and views.

CREATE:The CREATE statement is used to create a new database object, such as a table, view, or index.
For example, the following statement creates a new table named "employees" with columns for "employee_id",
"name", and "salary":

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10,2)
);

DROP: The DROP statement is used to remove a database object, such as a table or view, from the database.
For example, the following statement drops the "employees" table:
DROP TABLE employees;

ALTER: The ALTER statement is used to modify the structure of an existing database object, such as a table.
For example, the following statement adds a new column named "age" to the "employees" table:
ALTER TABLE employees ADD age INT;

TRUNCATE: The TRUNCATE statement is used to remove all the data from a table while keeping the table structure intact.
For example, the following statement removes all the data from the "employees" table:
TRUNCATE TABLE employees;"""

In [ ]:
#Q3.
"""DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to
manipulate data within a database. DML statements are used to add, modify, and delete data from a database.

INSERT: The INSERT statement is used to add new data to a table. For example, the following statement adds
a new row to the "employees" table with values for the "employee_id", "name", and "salary" columns:

INSERT INTO employees (employee_id, name, salary)
VALUES (1, 'John Smith', 50000);

UPDATE: The UPDATE statement is used to modify existing data in a table. For example, the following statement
updates the salary of the employee with an "employee_id" of 1 to 60000:

UPDATE employees
SET salary = 60000
WHERE employee_id = 1;

DELETE: The DELETE statement is used to remove data from a table. For example, the following statement removes
the employee with an "employee_id" of 1 from the "employees" table:

DELETE FROM employees
WHERE employee_id = 1;"""

In [ ]:
#Q4.
"""DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data
from a database. DQL statements are used to search and retrieve data from one or more database tables.
The most commonly used DQL statement is the SELECT statement, which retrieves data from a database table based on
a specified condition.

SYNTAX:

SELECT column1, column2, ...
FROM table_name
WHERE condition;

where "column1", "column2", etc. are the names of the columns to retrieve data from, "table_name" is the name of 
the table to retrieve data from, and "condition" is an optional condition that specifies which rows to retrieve."""

In [ ]:
#Q5.
"""Primary Key: A primary key is a column or group of columns in a table that uniquely identifies each row in the table.
The primary key is used to ensure that each row in the table can be identified and accessed efficiently. 
In general, a primary key is chosen from one or more columns that have unique values, and it is used as a reference
for other tables that need to reference the primary key of this table. Primary keys are typically used as the basis 
for creating relationships with other tables.

Foreign Key: A foreign key is a column or group of columns in a table that references the primary key of another table.
The foreign key is used to establish a relationship between two tables and ensure that the data in the tables is 
consistent. When a foreign key is defined, it ensures that the values in the foreign key column(s) of the referencing
table correspond to the values in the primary key column(s) of the referenced table. This ensures that data integrity
is maintained across the tables."""

In [ ]:
#Q6.
"""
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

the cursor() method creates a cursor object that allows us to execute SQL queries and fetch the results, 
and the execute() method of the cursor object is used to execute a SQL query.
"""

In [ ]:
#Q7.
"""SQL query is executed in the following order of clauses:

SELECT
FROM
JOIN
WHERE
GROUP BY
HAVING
ORDER BY
LIMIT"""