In [1]:
#Q1.
# For loop:
# Use a for loop when you want to iterate over a sequence
# (such as a list, tuple, or string) and perform the same action
# for each item in the sequence.
#  Example :-
#     l1 = ["Pushpam","kumar","Jha","Pwskills"]
#     for i in l1 :
#         print(i)
        
# While loop:
# Use a while loop when you want to keep 
# repeating an action until a certain condition is met.
#  Example:-
#     i = 0
#     sum = 0
#     while i < 10:
#         sum+=i
#         i+=1

In [7]:
#Q2.
n=10
fact=1
sum=0
while n>0:
    sum+=n
    fact*=n
    n-=1
print("product is "+ str(fact) +"and sum is "+ str(sum)) 
n=10
fact=1
sum=0
for i in range(1,n+1):
    sum+=i
    fact*=i
print("product is "+ str(fact) +"and sum is "+ str(sum))

product is 3628800and sum is 55
product is 3628800and sum is 55

In [6]:
unit= int(input())
charge=0.0
if unit<=100:
    charge=unit*4.5
elif unit>100 and unit<=200:
    charge=100*4.5
    unit-=100
    charge+=(unit*6)
elif unit>200 and unit<=300:
    charge=100*4.5
    charge+=(100*6)
    unit-=200
    charge+=(unit*10)
else:
    charge=100*4.5
    charge+=(100*6)
    charge+=(100*10)
    unit-=300
    charge+=(unit*20)
print(charge)

 310

2250.0

In [2]:
#Q4.
l=[]
ans=[]
for i in range(1,101):
    l.append(i)

for i in l:
    x=i**3
    if x%4==0 or x%5==0:
        ans.append(x)
print("answer using foor loop")
print(ans)

ans1=[]
i=100
while i>0:
    x=i**3
    if x%4==0 or x%5==0:
        ans1.append(x)
    i-=1
print("answer using while loop")
print(ans1)

answer using foor loop
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]
answer using while loop
[1000000, 941192, 884736, 857375, 830584, 778688, 729000, 681472, 636056, 614125, 592704, 551368, 512000, 474552, 438976, 421875, 405224, 373248, 343000, 314432, 287496, 274625, 262144, 238328, 216000, 195112, 175616, 166375, 157464, 140608, 125000, 110592, 97336, 91125, 85184, 74088, 64000, 54872, 46656, 42875, 39304, 32768, 27000, 21952, 17576, 15625, 13824, 10648, 8000, 5832, 4096, 3375, 2744, 1728, 1000, 512, 216, 125, 64, 8]

In [7]:
#Q5.
s = "I want to become a data scientist"
vowels_count=0
for i in s:
    if i.lower() in ['a', 'e', 'i', 'o', 'u']:
        vowels_count+=1
print(vowels_count)

12